<launch>
    <!-- Start pan joint controller -->

    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan2.yaml" command="load"/>
    <node name="pan2_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan2_controller"
        output="screen"/>
        
    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan3.yaml" command="load"/>
    <node name="pan3_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan3_controller"
        output="screen"/>
        
    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan4.yaml" command="load"/>
    <node name="pan4_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan4_controller"
        output="screen"/>

    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan5.yaml" command="load"/>
    <node name="pan5_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan5_controller"
        output="screen"/>

    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan6.yaml" command="load"/>
    <node name="pan6_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan6_controller"
        output="screen"/>
        
    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan7.yaml" command="load"/>
    <node name="pan7_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan7_controller"
        output="screen"/>
        
    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan8.yaml" command="load"/>
    <node name="pan8_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan8_controller"
        output="screen"/>
        
    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan9.yaml" command="load"/>
    <node name="pan9_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan9_controller"
        output="screen"/>

    <!-- Start pan joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/10motors/pan10.yaml" command="load"/>
    <node name="pan10_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            pan10_controller"
        output="screen"/>
</launch>